/* Hamburger menu */

@media screen and (max-width: 768px) {
    
    .headermenu {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 40px;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .hamburgermenu {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
    }

    .headermenu.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .hamburgermenu.hide {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
    }

    .headermenu li {
        text-align: center;
        padding: 5px 0;
    }

    .headermenuitem {
        color: #8550cf;
        transition: color 0.2s ease;
        margin: 0;
    }

    .headermenuitem:hover {
        color: #b091dc;
    }
}


/* Footer */

/* For mobile devices */
@media screen and (max-width: 768px) {

    footer p {
        font-size: 14px;
    }

    #linkedin {
        font-size: 28px;
    }

    #github {
        font-size: 28px;
    }
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 769px) {

    footer p {
        font-size: 16px;
    }

    #linkedin {
        font-size: 30px;
    }

    #github {
        font-size: 30px;
    }
}


/* Index page */

/* For mobile devices */
@media screen and (max-width: 768px) {

    .introduction {
        height: 70vh;
    }

    .introduction h2 {
        font-size: 80px;
    }

    .introduction p {
        font-size: 16px;
    }

    .download-button {
        font-size: 14px;
    }

    .contact-button {
        font-size: 14px;
    }
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 769px) {

    .introduction {
        height: 70vh;
    }

    .introduction h2 {
        font-size: 80px;
    }

    .introduction p {
        font-size: 18px;
    }

    .download-button {
        font-size: 16px;
    }

    .contact-button {
        font-size: 16px;
    }
}


/* Weather API */

/* For mobile devices */
@media screen and (max-width: 768px) {
    .weather-api {
        position: static; 
        display: block; 
        width: auto; 
        text-align: center; 
        margin: 10px auto;
    }

    .weather-api p {
        font-size: 12px;
    }
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 769px) {

    .weather-api {
        position: static; 
        display: block; 
        width: auto; 
        text-align: center; 
        margin: 10px auto;
    }

    .weather-api p {
        font-size: 14px;
    }
}


/* About page */

/* For mobile devices */
@media screen and (max-width: 768px) {
    
    .about {
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
        padding-bottom: 30px;
    }

    .about img {
        width: 280px; 
        height: 280px; 
    }

    .about h2 {
        font-size: 20px;
    }

    .about p {
        font-size: 14px;
    }
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 769px) {
    
    .about {
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
        padding-bottom: 30px;
    }

    .about img {
        width: 300px; 
        height: 300px; 
    }

    .about h2 {
        font-size: 22px;
    }

    .about p {
        font-size: 16px;
    }
}


/* Skills page */

/* For mobile devices */
@media screen and (max-width: 768px) {

    .skills-page h2 {
        font-size: 20px;
        text-align: center;
    }

    .web-skills, .film-skills {
        gap: 5px;
    }

    .web-skills figure, .film-skills figure {
        gap: 5px;
    }

    .web-skills img, .film-skills img {
        width: 80px;
    }

    .web-skills figcaption, .film-skills figcaption {
        font-size: 14px;
    }
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 769px) {

    .skills-page h2 {
        font-size: 22px;
        text-align: center;
    }

    .web-skills img, .film-skills img {
        width: 85px;
        padding: 0 20px 0 20px;
    }

    .web-skills figcaption, .film-skills figcaption {
        font-size: 14px;
    }
}


/* Portfolio page */

/* for mobile devices */
@media screen and (max-width: 768px) {

    .portfolio-page h2 {
        font-size: 20px;
    }

    .earlier-work {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    #grocery-product-catalog {
        flex-direction: row;
    }

    #grocery {
        width: 142px;
        height: auto;
    }

    #edit-grocery {
        width: 148px;
        height: auto;
    }

    #harrys {
        width: 380px;
        height: auto;
    }

    .earlier-work figure img {
        filter: none;
    }
    
    .earlier-work figure img:hover {
        filter: none; 
    }

    .portfolio-page figcaption {
        font-size: 14px;
    }

    .portfolio-page a {
        font-size: 14px;
    }

    .film-work {
        flex-direction: column;
        align-items: center;
    }

    .references {
        flex-direction: column;
        align-items: center;
    }

    .references img {
        width: 80px;
        height: 80px;
    }
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 769px) {

    .portfolio-page h2 {
        font-size: 22px;
    }

    #grocery-product-catalog {
        flex-direction: row;
    }

    #grocery {
        width: 200px;
        height: auto;
    }

    #edit-grocery {
        width: 208px;
        height: auto;
    }

    #harrys {
        width: 410px;
        height: auto;
    }

    .portfolio-page figcaption {
        font-size: 14px;
    }

    .portfolio-page a {
        font-size: 14px;
    }

    .film-work {
        align-items: center;
        text-align: center;
    }

    .references {
        align-items: center;
    }

    .references img {
        width: 100px;
        height: 100px;
    }
}


/* Contact page */

/* For mobile devices */
@media screen and (max-width: 768px) {

    .contact-page h2 {
        font-size: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contactform input,
    .contactform button,
    .contactform textarea {
        font-size: 14px;
    }

    .contact-details table {
        font-size: 14px;
        padding-top: 15px;
    }

    .contact-details a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 16px;
    }

    .contact-details a i {
        font-size: 30px;
    }

    .error-message {
        font-size: 12px;
    }

    .confirmation-message {
        padding: 10px;
        border-radius: 8px;
        font-size: 10px;
    }
    
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 769px) {

    .contact-page h2 {
        font-size: 22px;
    }

    .contactform input,
    .contactform button,
    .contactform textarea {
        font-size: 14px;
    }

    .contact-details table {
        font-size: 14px;
    }

    .contact-details a {
        font-size: 18px;
    }

    .contact-details a i {
        font-size: 35px;
    }

    .error-message {
        font-size: 12px;
    }

    .confirmation-message {
        padding: 10px;
        border-radius: 8px;
        font-size: 12px;
    }
}