/* Hamburger menu */

@media screen and (max-width: 768px) {
    
    .headermenu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 40px;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .hamburgermenu {
        display: flex;
        justify-content: flex-end;
    }

    .headermenu.show {
        display: flex;
    }

    .headermenu li {
        text-align: center;
        padding: 5px 0;
    }

    .headermenuitem {
        color: #8550cf;
        transition: color 0.2s ease;
        margin: 0;
    }

    .headermenuitem:hover {
        color: #b091dc;
    }
}


/* Index page */

/* For mobile devices */
@media screen and (max-width: 768px) {

    .introduction h2 {
        font-size: 80px;
    }

    .introduction p {
        font-size: 16px;
    }

    .download-button {
        font-size: 14px;
    }

    .contact-button {
        font-size: 14px;
    }
}

/* For tablets */

@media screen and (max-width: 1080px) and (min-width: 769px) {

    .introduction h2 {
        font-size: 80px;
    }

    .introduction p {
        font-size: 18px;
    }

    .download-button {
        font-size: 16px;
    }

    .contact-button {
        font-size: 16px;
    }
}


/* About page */

/* For mobile devices */
@media screen and (max-width: 768px) {
    
    .about {
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
    }

    .about img {
        width: 280px; 
        height: 280px; 
    }

    .about h2 {
        font-size: 20px;
    }

    .about p {
        font-size: 14px;
    }
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 769px) {
    
    .about {
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
    }
}