body {
    background-image: url(images/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
    font-family: "GeistMono";
    max-width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    font-family: "GeistMono";
}

.headermenu {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    justify-content: flex-end;
    list-style: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.headermenuitem {
    text-decoration: none;
    color: #8550cf;
    transition: color 0.2s ease;
}

.headermenuitem:hover {
    text-decoration: none;
    color: #b091dc;
}

.currentheadermenuitem {
    text-decoration: none;
    color: #e3d3f9;
}

#contact-nav {
    text-decoration: none;
    padding: 8px;
    color: #c68061;
    transition: color 0.2s ease;
}

#contact-nav:hover {
    color: #ffaf8d;
}

#currentcontact-nav {
    text-decoration: none;
    padding: 8px;
    color: #f1d6cb;
    transition: color 0.2s ease;
}

.hamburgermenu {
    display: none;
    cursor: pointer;
    font-size: 48px;
    color: #8550cf;
}

footer {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

footer p {
    color: #ae88e3;
    font-size: 18px;
}

#linkedin {
    font-size: 35px;
    color: #497fe2;
    padding-left: 20px;
}

#github {
    font-size: 35px;
    color: #be49e2;
    padding-left: 20px;
}


/* Index page */

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 80vh;
    gap: 10px;
}

.introduction p {
    color: #ae88e3;
    font-size: 25px;
    width: 80%;
}

.introduction h2 {
    color: #c5aee8;
    font-size: 100px;
    width: 80%;
}

.introduction p,
.introduction h2 {
    margin: 0;
    padding: 0;
}

.buttons {
    padding-top: 50px;
    display: flex;
    gap: 20px;
}

.download-button {
    text-decoration: none;
    padding: 8px;
    color: #4ef9ce;
    border: 1px solid #4ef9ce;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.download-button:hover {
    color: #36a78b;
    border: 1px solid #36a78b;
}

.download-button:active {
    color: #c43880;
    border: 1px solid #c43880;
}

.contact-button {
    text-decoration: none;
    padding: 8px;
    color: #ffaf8d;
    border: 1px solid #ffaf8d;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.contact-button:hover {
    color: #c68061;
    border: 1px solid #c68061;
}

.contact-button:active {
    color: #c43880;
    border: 1px solid #c43880;
}

.weather-api {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #e3d3f9;
    padding: 10px;
    border-radius: 8px;
    font-family: "GeistMono", monospace;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-api img {
    width: 50px; 
    height: auto; 
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; 
}


/* About page */

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    min-height: 80vh;
    margin: 0 auto;
}

.about article {
    flex: 1;
}

.about h2 {
    color: #d0bbf0;
}

.about p {
    color: #d0bbf0;
}

.about img {
    width:350px;
    height:350px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}


/* Skills page */

.skills-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.skills-page h2 {
    color: #d0bbf0;
    margin: 0;
    padding-top: 60px;
}

.web-skills, .film-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.web-skills figure, .film-skills figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.web-skills img, .film-skills img {
    width: 100px;
    height: auto;
}

.web-skills figcaption, .film-skills figcaption {
    font-size: 16px;
    color: #8550cf; 
    text-align: center; 
}

.film-skills {
    padding-bottom: 52px;
}


/* Portfolio page */

.portfolio-page {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.portfolio h2 {
    color: #d0bbf0;
    text-align: center;
}

#first-h2 {
    padding-top: 45px;
}

.earlier-work {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

#grocery {
    width: 220px;
    height: auto;
}

#edit-grocery {
    width: 230px;
    height: auto;
}

#harrys {
    width: 450px;
    height: auto;
}

.earlier-work figure {
    text-align: center;
    font-size: 16px;
}

.earlier-work figcaption {
    color: #8550cf; 
    padding-bottom: 10px; 
}

.earlier-work figure img {
    filter: brightness(85%); 
    transition: filter 0.3s ease; 
}

.earlier-work figure img:hover {
    filter: brightness(100%); 
}

.earlier-work a {
    text-decoration: none;
    font-size: 16px;
    width: auto;
    color: #4ef9ce; 
    border: 1px solid #4ef9ce;
    transition: color 0.2s ease, border-color 0.2s ease;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 auto;
    text-align: center; 
}

.earlier-work a:hover {
    color: #36a78b;
    border: 1px solid #36a78b;
}

.film-work {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    padding-bottom: 20px;
}

.film-work img {
    width: 250px;
}

.film-work figcaption {
    color: #8550cf;
}

#a-day-and-a-half {
    padding-top: 10px;
}

#blindspår {
    padding-top: 6px;
}

.references {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 50px;
}

.references figure {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.references figcaption {
    color: #8550cf;
    align-content: center;
    padding-left: 10px;
}

.references img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}


/* Contact page */

.contact-page h2 {
    color: #d0bbf0;
    text-align: center;
    padding-top: 60px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px; 
    padding: 20px;
    padding-bottom: 78px;
}

.contactform, 
.contact-details {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    flex: 1; 
    max-width: 100%; 
}

.contactform form {
    display: flex;
    flex-direction: column; 
    width: 100%;
    gap: 10px; 
}

.contactform input,
.contactform button,
.contactform textarea {
    padding: 10px; 
    font-size: 16px;
    background-color: #35175f;
}

.contactform input,
.contactform textarea {
    color: #c5a6ef;
}

.contactform button {
    background-color: #8550cf;
    cursor: pointer;
}

.contactform button:hover {
    background-color: #b091dc;
}

.contact-details table {
    width: 100%; 
    text-align: left;
}

.contact-details th,
.contact-details td {
    padding-right: 20px;
    padding-bottom: 20px;
}

.contact-details a {
    display: inline-block; 
    text-decoration: none;
    font-family: "GeistMono", monospace;
    margin-top: 10px; 
    font-size: 20px; 
    color: #8550cf;
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: #b091dc;
}

.contact-details a .bx {
    font-family: 'boxicons'; 
    font-style: normal;
}

.contact-details a i {
    font-size: 40px;
}

#linkedin-link {
    color: #497fe2;
    transition: color 0.3s ease;
}

#github-link {
    color: #be49e2;
    transition: color 0.3s ease;
}

#linkedin-link:hover {
    color: #3963b3;
}

#github-link:hover {
    color: #86329f;
}

.contact-info {
    color: #8550cf;
}

.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }